name: Build
on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
env:
  OMP_NUM_THREADS: '10'
  MKL_THREADING_LAYER: GNU
jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1
      - name: Install clang-format
        run: |
          sudo apt-get update
          sudo apt-get install -y git-core clang-format-11
      - name: Verify clang-format
        run: |
            git ls-files | grep -E  '\.(cpp|h|cu|cuh)$' | xargs clang-format-11 -i
            if git diff --quiet; then
              echo "Formatting OK!"
            else
              echo "Formatting not OK!"
              echo "------------------"
              git --no-pager diff --color
              exit 1
            fi
  linux-x86_64-cmake:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1
      - uses: ./.github/actions/build_cmake
  linux-x86_64-AVX2-cmake:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1
      - uses: ./.github/actions/build_cmake
        with:
          opt_level: avx2
  linux-x86_64-AVX512-cmake:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1
      - uses: ./.github/actions/build_cmake
        with:
          opt_level: avx512
  linux-x86_64-GPU-cmake:
    #needs: linux-x86_64-AVX2-cmake
    runs-on: 4-core-gpu
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1
      - uses: ./.github/actions/build_cmake
        with:
          gpu: ON
  linux-x86_64-GPU-w-RAFT-cmake:
    #needs: linux-x86_64-GPU-cmake
    runs-on: 4-core-gpu
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1
      - uses: ./.github/actions/build_cmake
        with:
          gpu: ON
          raft: ON
  linux-x86_64-conda:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1
      - uses: ./.github/actions/build_conda
  windows-x86_64-conda:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1
      - uses: ./.github/actions/build_conda